.gradle/
app/build/
app/proguard/
app/release/
app/debug/

# IDE
.idea/

# Local configuration
local.properties

# Firebase credentials
app/google-services.json

# Signing
*.jks
*.keystore

# ML models (stored in private repo)
*.tflite
